body {
  background : #e6e6e6;
  z-index: -1;
}



/*Style pour le nom et prénom*/
.prenometnom { 
  margin-top: -5px;
  font: bold 30px sans-serif;
  margin-left: 31%;
  position: absolute;
  z-index: 1;
}

/*Style pour la photographie du profil*/ 
img {
width: 30%;
height: 30%;
border-radius: 50%; 
position: absolute;
z-index: 1;
}

/*Style pour le rectangle du top*/ 
.rectangle-top{
  margin-left: 100px;
  height: 29%;
  width: 50%%;
  border: 4px solid black;
  background-image: url('https://img.culturacolectiva.com/content/2016/06/bandera-gay.jpg');
  background-size:cover;
  border-radius: 50px;
  bottom: 500px;
  z-index: 0;
  opacity: 0.5;
}

/*Style pour le rectangle du centre*/ 
.rectangle-centre{
  margin-top: 15px;
  height: 100%;
  width: 50%%;
  border: 3px solid black;
  background-size:cover;
  border-radius: 50px;
  z-index: 0;
  
}

/*Style pour le rectangle de l'expérience*/ 
#rectangle-centre-experience{
  margin-top: 15px;
  margin-left: 10px;
  height: 28%;
  width: 40%;
  background-color: #53c68c;
  border-radius: 15px 50px 130px;
  z-index: 1;
  opacity: 80%;
}

/*Style pour le rectangle de la formation*/
#rectangle-centre-formation{
  margin-top: 10px;
  margin-left: 10px;
  height: 25%;
  width: 40%;
  background-color: #1aa3ff;
  border-radius: 100px 50px 20px; 
  z-index: 1;
  opacity: 80%;
}

/*Style pour le rectangle de l'expérience*/ 
#rectangle-centre-logiciels{
  margin-top: -485px;
  margin-left: 400px;
  height: 28%;
  width: 40%;
  background-color: #53c68c;
  border-radius: 15px 50px 130px;
  z-index: 1;
  opacity: 80%;
}

/*Style pour le rectangle de la formation*/
#rectangle-centre-langues{
  margin-top: 10px;
  margin-left: 400px;
  height: 25%;
  width: 40%;
  background-color: #1aa3ff;
  border-radius: 100px 50px 20px; 
  z-index: 1;
  opacity: 80%;
}

/*Style pour les h2*/
h2{
  font: bold 30px sans-serif;
  line-height: 10px;
  color: black;
 
}

/*Style pour les h3*/
h3{
  font: bold 20px sans-serif;
  line-height: 10px;
  color: white;
  
}

/*Style pour les h5*/
h5{
  font: bold 15px sans-serif;
  line-height: 10px;
  color: black;
  
}

/*Style pour le boutton*/
input{
  margin-left: 3px;
  background-color:;
  
}
/*Style pour le id compet*/
#compet{
  opacity:80%;
}

/*Style pour la table*/
tr, td {
  border: 2px solid #c6ecd9;
  
}

/*Taille de la table*/
td{
  height:20px;
  width: 200px;
  
}

a{
  margin-left: 50px;
  margin-top: 0px; /*CA NE MARCHE PAS */
}

